body{
    margin:0;
    color:#6a6f8c;
    background:#ffffff;
    font:600 16px/18px 'Open Sans',sans-serif;
}
.parent {
    display: flex;
}
.panel1 {
    width: 50%;
}
.panel2 {
    flex: 1;
    /* Grow to rest of container */
}

#total-items {
    background-color: gainsboro;
    width: 50%;
    height: 200px;
    position: relative;
}

.large-num-label {
    bottom: 0;
    right: 0;
    position: absolute;
    font-size: 100px;

}

#discount {
    background-color: bisque;
    width: 50%;
    height: 200px;
    position: relative;
}

#total-amount {
    background-color: beige;
    width: 100%;
    height: 200px;
    position: relative;
}

.table-responsive {
    height: 380px;
    overflow-y: auto;
}

.button-group {
    background-color: beige;
}

.butt {
    background-color: lightBlue;
    height:180px;
    width:400px;
    cursor:pointer;
}

.butt:hover {
    background-color: lightskyblue;
    color:white;
}


.title-label {
    font-family: "Rasa SemiBold";
    font-size: 60px;
}